@model IEnumerable<VSFlyClient.Models.FlightM>
@using Microsoft.AspNetCore.Http;
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
}

<h1>Available Flights</h1>


<table class="table">

    <thead>

        <tr>
            <th>
                Flight Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departure)
            </th>
            <th>
                Departure Time
            </th>
            <th>
                Destination Time
            </th>
            <th>
                Base Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seats)
            </th>
            <th>
                Available Seats
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FlightId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Destination)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DestinationTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasePrice) CHF
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seats)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AvailableSeats)
                </td>
                <td>
                    <a class="button-4" href="@Url.Action("Index", "Booking", new { id = item.FlightId }, null)">Book Flight</a>
                    <a class="button-4" href="@Url.Action("Bookings", "Home", new { id = item.FlightId })">Bookings of Flight</a>
                    <a class="button-4" href="@Url.Action("TotalTicketPrice", "Home", new { id = item.FlightId })">Total Price</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Interested in Destination Infos?</h2>
<a class="button-4" href="@Url.Action("Index", "Destination", new {})">Average Destination Prices</a>
<a class="button-4" href="@Url.Action("DestinationTickets", "Destination", new {})">All Tickets for a Destination</a>
